# `04_data_cleaning.ipynb`
데이터 정제
- 불필요한 삭제
- 잘못된 데이터 수정

In [ ]:
import pandas as pd

df = pd.read_csv('./namsan.csv', encoding='EUC-KR', low_memory=False)

## 데이터 삭제

In [ ]:
df.head(3)

In [ ]:
# 슬라이싱으로 가능은 함.
df.loc[:, '번호':'등록일자'].head()

In [ ]:
# 컬럼들
print(df.columns)
# 마스킹 생성
mask = df.columns != 'Unnamed: 13'
print(mask)
# 슬라이싱
ns_df = df.loc[:, mask]
ns_df.head(3)

In [ ]:
# 진짜로 컬럼 삭제한 df 리턴
df.drop(['부가기호', 'Unnamed: 13'], axis=1)

# 리턴말고 원본에서 삭제하기 (inplace)
df.drop(['부가기호', 'Unnamed: 13', '주제분류번호'], axis=1, inplace=True)

In [ ]:
df.head(3)

In [33]:
# Col중에 하나라도 NaN(비어있음) 이면 해당 col 삭제
book_df = df.dropna(axis=1)
book_df.head(3)
# col의 모든 데이터가 NaN이면 해당 col 삭제
book_df = df.dropna(axis=1, how='all')
book_df.head(3)

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,권,도서권수,대출건수,등록일자
0,1,감정을 이해하는 그림책 큐레이션,"그림책심리성장연구소,강혜진,김애이,김은경,박소영,장미혜,차연주 지음",사우,2025,9791194126027,NaN,NaN,1,0,2025-06-30
1,2,어른의 관계에는 마침표가 없다,김재식 지음,위즈덤하우스,2025,9791171714285,NaN,NaN,1,0,2025-06-30
2,3,아무리 놀려도 괜찮은 책(독서치료용),박티팔,곰세마리,2024,9791193366103,NaN,NaN,1,0,2025-06-30

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 455556 entries, 0 to 455555
Data columns (total 11 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   번호       455556 non-null  int64
 1   도서명      455156 non-null  object
 2   저자       455346 non-null  object
 3   출판사      449810 non-null  object
 4   발행년도     455512 non-null  object
 5   ISBN     455556 non-null  object
 6   세트 ISBN  27281 non-null   float64
 7   권        71473 non-null   object
 8   도서권수     455556 non-null  int64
 9   대출건수     455556 non-null  int64
 10  등록일자     455556 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 38.2+ MB