`04_kpi.ipynb`

# KPI (Key Performance Indicator) - í•µì‹¬ ì„±ê³¼ ì§€í‘œ

## ë©”íŠ¸ë¦­ vs ì§€í‘œ vs KPI
### ë©”íŠ¸ë¦­ Metric (ì¸¡ì • ê°€ëŠ¥í•œ ëª¨ë“  ìˆ˜ì¹˜)
- ë°©ë¬¸ììˆ˜, í´ë¦­ìˆ˜, ë§¤ì¶œì•¡, ì¬ê³ ëŸ‰
- ë‹¨ìˆœí•œ ì¸¡ì •ê°’
### ì§€í‘œ Indicator (ì˜ë¯¸ê°€ ë¶€ì—¬ëœ ë©”íŠ¸ë¦­)
- ì „ì›” ëŒ€ë¹„ ë°©ë¬¸ì ì¦ê°€ìœ¨, í´ë¦­ ì „í™˜ë¥ , ë§¤ì¶œ ì„±ì¥ë¥ 
- ë¹„êµ ê¸°ì¤€ì´ ìˆê³ , ë³€í™”-ë°©í–¥ì„±ì„ ë³´ì—¬ì¤Œ
### KPI (ë¹„ì¦ˆë‹ˆìŠ¤ ëª©í‘œì™€ ì§ê²°ëœ í•µì‹¬ ì§€í‘œ)
- CAC(ê³ ê° íšë“ ë¹„ìš©), LTV/CLV(ê³ ê° ìƒì•  ê°€ì¹˜), NPS(ìˆœ ê³ ê° ì¶”ì²œ ì§€ìˆ˜)
- ì „ëµì  ì˜ì‚¬ê²°ì •ì— ì§ì ‘ ì˜í–¥, ì•¡ì…˜ ê°€ëŠ¥í•œ ì¸ì‚¬ì´íŠ¸ ì œê³µ


## KPIê°€ ë¹„ì¦ˆë‹ˆìŠ¤ì— ë¯¸ì¹˜ëŠ” ì˜í–¥
1. ì „ëµì  ë°©í–¥ì„± ì œì‹œ KPIëŠ” ì¡°ì§ ì „ì²´ê°€ ê°™ì€ ëª©í‘œë¥¼ í–¥í•´ ë‚˜ì•„ê°ˆ ìˆ˜ ìˆë„ë¡ í•˜ëŠ” ë‚˜ì¹¨ë°˜ ì—­í• ì„ í•©ë‹ˆë‹¤. ì˜ˆë¥¼ ë“¤ì–´, SaaS ê¸°ì—…ì—ì„œ 'Monthly Recurring Revenue(MRR)'ë¥¼ ì£¼ìš” KPIë¡œ ì„¤ì •í•˜ë©´, ë§ˆì¼€íŒ…íŒ€ì€ ì‹ ê·œ ê³ ê° íšë“ì—, ì œí’ˆíŒ€ì€ ê¸°ëŠ¥ ê°œì„ ì„, CSíŒ€ì€ ê³ ê° ìœ ì§€ì— ì§‘ì¤‘í•˜ê²Œ ë©ë‹ˆë‹¤.

2. ë°ì´í„° ê¸°ë°˜ ì˜ì‚¬ê²°ì • ë¬¸í™” ì¡°ì„± "ê°(æ„Ÿ)"ì´ ì•„ë‹Œ "íŒ©íŠ¸"ë¡œ ë§í•˜ëŠ” ì¡°ì§ ë¬¸í™”ë¥¼ ë§Œë“­ë‹ˆë‹¤. ë§¤ì£¼ ì›”ìš”ì¼ ì•„ì¹¨, ì„ì›ì§„ì´ ëŒ€ì‹œë³´ë“œë¥¼ ë³´ë©° "ì§€ë‚œì£¼ CACê°€ 20% ì¦ê°€í–ˆë„¤ìš”. ë§ˆì¼€íŒ… ì±„ë„ë³„ íš¨ìœ¨ì„±ì„ ì¬ê²€í† í•´ì•¼ê² ìŠµë‹ˆë‹¤"ë¼ê³  ë§í•  ìˆ˜ ìˆê²Œ ë˜ëŠ” ê²ƒì…ë‹ˆë‹¤.

## KPI ì„¤ê³„ ì›ì¹™
- Specific(êµ¬ì²´ì )
- Measurable(ì¸¡ì •ê°€ëŠ¥)
- Achievable(ë‹¬ì„±ê°€ëŠ¥)
- Relevant(ê´€ë ¨ì„±)
- Time-bound(ì‹œí•œì„±)

In [7]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import warnings

warnings.filterwarnings('ignore', category=UserWarning)
plt.rcParams['font.family'] = 'Malgun Gothic'
plt.rcParams['axes.unicode_minus'] = False
# ì‹¤ìŠµìš© ì „ììƒê±°ë˜ ë°ì´í„° ìƒì„±
np.random.seed(42)

# ê³ ê° ë°ì´í„° ìƒì„±
customers = pd.DataFrame({
    'customer_id': range(1, 1001),
    'first_purchase_date': pd.date_range('2022-01-01', periods=1000, freq='D'),
    'acquisition_channel': np.random.choice(['organic', 'paid_search', 'social', 'email'], 1000, 
                                          p=[0.4, 0.3, 0.2, 0.1])
})

# ê±°ë˜ ë°ì´í„° ìƒì„± (ë” í˜„ì‹¤ì ì¸ íŒ¨í„´)
transactions = []
for customer_id in range(1, 1001):
    first_date = customers[customers['customer_id'] == customer_id]['first_purchase_date'].iloc[0]
    
    # ê³ ê°ë³„ë¡œ ë‹¤ë¥¸ êµ¬ë§¤ íŒ¨í„´ ì‹œë®¬ë ˆì´ì…˜
    purchase_frequency = np.random.exponential(30)  # í‰ê·  30ì¼ë§ˆë‹¤ êµ¬ë§¤
    num_purchases = np.random.poisson(3) + 1  # í‰ê·  3íšŒ êµ¬ë§¤
    
    for i in range(num_purchases):
        purchase_date = first_date + timedelta(days=int(i * purchase_frequency))
        if purchase_date <= datetime(2024, 12, 31):
            transactions.append({
                'customer_id': customer_id,
                'purchase_date': purchase_date,
                'order_value': np.random.lognormal(4, 0.8),  # ë¡œê·¸ì •ê·œë¶„í¬ë¡œ í˜„ì‹¤ì ì¸ ì£¼ë¬¸ê¸ˆì•¡
                'order_id': len(transactions) + 1
            })

df = pd.DataFrame(transactions)
df['purchase_date'] = pd.to_datetime(df['purchase_date'])

print("ë°ì´í„°ì…‹ ê°œìš”")
print(f"ì´ ê³ ê° ìˆ˜: {len(customers):,}ëª…")
print(f"ì´ ê±°ë˜ ìˆ˜: {len(df):,}ê±´")
print(f"ê¸°ê°„: {df['purchase_date'].min().date()} ~ {df['purchase_date'].max().date()}")

ë°ì´í„°ì…‹ ê°œìš”
ì´ ê³ ê° ìˆ˜: 1,000ëª…
ì´ ê±°ë˜ ìˆ˜: 3,871ê±´
ê¸°ê°„: 2022-01-01 ~ 2024-12-28

## RFM ë¶„ì„
ê³ ê°ì„ 3ê°€ì§€ ì¸¡ë©´ì—ì„œ ë°”ë¼ë³´ëŠ” í”„ë¦¬ì¦˜
- Recency: ì–¼ë§ˆë‚˜ ìµœê·¼ì— êµ¬ë§¤í•˜ëŠ”ê°€? (ìµœê·¼ì„±)
- Frequency: ì–¼ë§ˆë‚˜ ìì£¼ êµ¬ë§¤í•˜ëŠ”ê°€? (ë°˜ë³µì„±)
- Monetary: ì–¼ë§ˆë‚˜ ë§ì´ êµ¬ë§¤í•˜ëŠ”ê°€? (ê°€ì¹˜)

In [8]:
df.head(50)

    customer_id purchase_date  order_value  order_id
0             1    2022-01-01    16.099022         1
1             1    2022-01-07    52.126636         2
2             1    2022-01-13   105.086917         3
3             1    2022-01-19    60.768899         4
4             1    2022-01-25    78.047045         5
5             1    2022-01-31    46.034085         6
6             1    2022-02-06   134.727679         7
7             1    2022-02-12    51.196306         8
8             2    2022-01-02    17.740889         9
9             2    2022-02-26    81.518230        10
10            2    2022-04-23    23.712732        11
11            3    2022-01-03   151.766243        12
12            3    2022-02-10   173.743888        13
13            4    2022-01-04    63.895173        14
14            4    2022-01-15    58.313125        15
15            4    2022-01-27   128.045325        16
16            4    2022-02-07    36.095537        17
17            4    2022-02-19   168.591386        18
18            5    2022-01-05    42.936042        19
19            5    2022-01-24    28.679153        20
20            5    2022-02-13    24.412793        21
21            5    2022-03-04    23.553406        22
22            5    2022-03-24    11.623831        23
23            5    2022-04-13    20.781919        24
24            5    2022-05-02    23.185742        25
25            5    2022-05-22    94.263928        26
26            6    2022-01-06   346.463753        27
27            6    2022-04-05    32.100849        28
28            6    2022-07-04   138.890011        29
29            7    2022-01-07   199.714100        30
30            7    2022-01-28    33.164750        31
31            8    2022-01-08    35.009460        32
32            8    2022-02-22    40.499134        33
33            9    2022-01-09    21.351966        34
34            9    2022-02-20    64.221524        35
35            9    2022-04-04    16.238821        36
36            9    2022-05-16   188.293923        37
37           10    2022-01-10   229.683469        38
38           10    2022-01-12    68.627430        39
39           10    2022-01-15    71.347723        40
40           11    2022-01-11    13.479398        41
41           11    2022-02-11    19.967935        42
42           12    2022-01-12    95.183711        43
43           12    2022-01-21    23.367322        44
44           12    2022-01-30     3.371484        45
45           13    2022-01-13    27.216446        46
46           13    2022-02-08    66.156172        47
47           13    2022-03-07    69.716949        48
48           13    2022-04-03   115.168620        49
49           13    2022-04-30    76.504376        50

In [12]:
def calculate_rfm(t_df: pd.DataFrame, analysis_date='2024-12-31'):
    """
    RFM ë¶„ì„ í•¨ìˆ˜

    Recency: í™œì„±ë„ ì¸¡ì •. ë‚®ì„ìˆ˜ë¡ ì¢‹ìŒ
    Frequency: ì¶©ì„±ë„ ì¸¡ì •. ë†’ì„ìˆ˜ë¡ ì¢‹ìŒ
    Monetary: ê°€ì¹˜ ì¸¡ì •. ë†’ì„ìˆ˜ë¡ ì¢‹ìŒ
    """
    analysis_date = pd.to_datetime(analysis_date)
    rfm = t_df.groupby('customer_id').agg({
        # Recency
        'purchase_date': lambda x: (analysis_date - x.max()).days,
        # Frequency
        'order_id': 'count',
        # Monetary
        'order_value': 'sum',
    }).reset_index()
    rfm.columns = ['customer_id', 'recency', 'frequency', 'monetary']
    # RFM ì ìˆ˜ ê³„ì‚°
    rfm['r_score'] = pd.qcut(rfm['recency'], 5, labels=[5, 4, 3, 2, 1])
    rfm['f_score'] = pd.qcut(rfm['frequency'].rank(method='first'), 5, labels=[1, 2, 3, 4, 5])
    rfm['m_score'] = pd.qcut(rfm['monetary'], 5, labels=[1, 2, 3, 4, 5])

    rfm['rfm_score'] = rfm['r_score'].astype(str) + rfm['f_score'].astype(str) + rfm['m_score'].astype(str)
    return rfm


rfm_data = calculate_rfm(df)
rfm_data.head()


# ê³ ê° ì„¸ê·¸ë¨¼íŠ¸ ì •ì˜
def segment_customers(rfm_data: pd.DataFrame):
    """
    RFM ì ìˆ˜ë¥¼ ê¸°ë°˜ìœ¼ë¡œ ê³ ê°ì„ ì˜ë¯¸ìˆëŠ” ì„¸ê·¸ë¨¼íŠ¸ë¡œ ë¶„ë¥˜
    - R >= 4, F >= 4: ìµœê³ 
    - R >= 3, F >= 3: ì¶©ì„±
    - R >= 4, F <= 2: ì‹ ê·œ
    - R <= 2, F >= 3: ìœ„í—˜
    - R <= 2, F <= 2: ì´íƒˆ
    - ê¸°íƒ€
    """
    def rfm_level(df):
        if (df['r_score'] >= 4) and (df['f_score'] >= 4):
            return 'ìµœê³ '
        elif (df['r_score'] >= 3) and (df['f_score'] >= 3):
            return 'ì¶©ì„±'
        elif (df['r_score'] >= 4) and (df['f_score'] <= 2):
            return 'ì‹ ê·œ'
        elif (df['r_score'] <= 2) and (df['f_score'] >= 3):
            return 'ìœ„í—˜'
        elif (df['r_score'] <= 2) and (df['f_score'] <= 2):
            return 'ì´íƒˆ'
        else:
            return 'ê¸°íƒ€'
    
    rfm_data['segment'] = rfm_data.apply(rfm_level, axis=1)
    return rfm_data

rfm_segmented = segment_customers(rfm_data)
rfm_segmented

,customer_id,recency,frequency,monetary,r_score,f_score,m_score,rfm_score,segment
0,1,1053,8,544.086589,1,5,5,155,ìœ„í—˜
1,2,983,3,122.971850,1,1,1,111,ì´íƒˆ
2,3,1055,2,325.510131,1,1,4,114,ì´íƒˆ
3,4,1046,5,454.940546,1,4,5,145,ìœ„í—˜
4,5,954,8,269.436813,1,5,3,153,ìœ„í—˜
...,...,...,...,...,...,...,...,...,...
995,996,19,4,408.573012,5,4,4,544,ìµœê³
996,997,86,3,403.810587,5,3,4,534,ì¶©ì„±
997,998,95,5,303.249620,5,5,3,553,ìµœê³
998,999,3,4,250.638024,5,4,3,543,ìµœê³
999,1000,8,4,324.117279,5,4,4,544,ìµœê³

In [13]:
# segment ë¡œ ê·¸ë£¹í•‘ í•´ì„œ ë¶„ì„
segment_analysis = rfm_segmented.groupby('segment').agg({
    'customer_id': 'count',
    'recency': 'mean',  # ë“±ê¸‰ë³„ ìµœì¢…ë°©ë¬¸ì¼ë¡œë¶€í„° ì§€ë‚œë‚  í‰ê· 
    'frequency': 'mean',  # ë°©ë¬¸ íšŒìˆ˜ í‰ê· 
    'monetary': 'mean',  # ì“´ëˆ í‰ê· 
}).round(2)


segment_analysis.columns = ['ê³ ê°ìˆ˜', 'ì§€ë‚œë‚ í‰ê· ', 'íšŒìˆ˜í‰ê· ', 'ëˆí‰ê· ']

segment_analysis

         ê³ ê°ìˆ˜   ì§€ë‚œë‚ í‰ê·   íšŒìˆ˜í‰ê·      ëˆí‰ê·
segment
ê¸°íƒ€        87  512.67  2.40  163.01
ì‹ ê·œ       121  251.12  2.45  195.11
ìœ„í—˜       208  811.88  5.03  383.14
ì´íƒˆ       192  837.06  2.36  181.27
ìµœê³        208  205.57  5.05  379.44
ì¶©ì„±       184  391.96  4.44  345.49

In [14]:
segment_insights = {
    'ìµœê³ ': 'ğŸ’ ìµœê³ ì˜ ê³ ê°ë“¤. VIP í”„ë¡œê·¸ë¨ê³¼ ê°œì¸í™”ëœ ì„œë¹„ìŠ¤ ì œê³µ',
    'ì¶©ì„±': 'ğŸ† ì¶©ì„±ë„ ë†’ì€ ê³ ê°ë“¤. ì¶”ê°€ ìƒí’ˆ ì¶”ì²œê³¼ ë¦¬ì›Œë“œ í”„ë¡œê·¸ë¨',
    'ì‹ ê·œ': 'ğŸŒ± ì‹ ê·œ ê³ ê°ë“¤. ì˜¨ë³´ë”© í”„ë¡œê·¸ë¨ê³¼ ì²« êµ¬ë§¤ í• ì¸',
    'ìœ„í—˜': 'âš ï¸ ì´íƒˆ ìœ„í—˜ ê³ ê°ë“¤. ì¬í™œì„±í™” ìº í˜ì¸ê³¼ íŠ¹ë³„ í• ì¸',
    'ì´íƒˆ': 'ğŸ˜¢ ì´íƒˆí•œ ê³ ê°ë“¤. ìœˆë°± ìº í˜ì¸ê³¼ ê°•ë ¥í•œ ì¸ì„¼í‹°ë¸Œ'
}

print("\nğŸ’¡ ì„¸ê·¸ë¨¼íŠ¸ë³„ ì•¡ì…˜ í”Œëœ")
print("=" * 50)
for segment, insight in segment_insights.items():
    if segment in rfm_segmented['segment'].values:
        count = len(rfm_segmented[rfm_segmented['segment'] == segment])
        print(f"{segment} ({count}ëª…): {insight}")

ğŸ’¡ ì„¸ê·¸ë¨¼íŠ¸ë³„ ì•¡ì…˜ í”Œëœ
==================================================
ìµœê³  (208ëª…): ğŸ’ ìµœê³ ì˜ ê³ ê°ë“¤. VIP í”„ë¡œê·¸ë¨ê³¼ ê°œì¸í™”ëœ ì„œë¹„ìŠ¤ ì œê³µ
ì¶©ì„± (184ëª…): ğŸ† ì¶©ì„±ë„ ë†’ì€ ê³ ê°ë“¤. ì¶”ê°€ ìƒí’ˆ ì¶”ì²œê³¼ ë¦¬ì›Œë“œ í”„ë¡œê·¸ë¨
ì‹ ê·œ (121ëª…): ğŸŒ± ì‹ ê·œ ê³ ê°ë“¤. ì˜¨ë³´ë”© í”„ë¡œê·¸ë¨ê³¼ ì²« êµ¬ë§¤ í• ì¸
ìœ„í—˜ (208ëª…): âš ï¸ ì´íƒˆ ìœ„í—˜ ê³ ê°ë“¤. ì¬í™œì„±í™” ìº í˜ì¸ê³¼ íŠ¹ë³„ í• ì¸
ì´íƒˆ (192ëª…): ğŸ˜¢ ì´íƒˆí•œ ê³ ê°ë“¤. ìœˆë°± ìº í˜ì¸ê³¼ ê°•ë ¥í•œ ì¸ì„¼í‹°ë¸Œ

In [ ]:
# ê³ ê° ìƒì•  ê°€ì¹˜(Customer Lifetime Value)
def calculate_clv(t_df: pd.DataFrame):
    """
    ê³ ê° ìƒì•  ê°€ì¹˜(Customer Lifetime Value) ê³„ì‚°

    CLV = (í‰ê·  ì£¼ë¬¸ ê°€ì¹˜) * (ì—°ê°„ êµ¬ë§¤ ë¹ˆë„) * (ê³ ê° ìƒì¡´ ê¸°ê°„)
    í•´ì„:
    - CLV > CAC(ê³ ê°íšë“ë¹„ìš©) : ìˆ˜ìµì„± ìˆëŠ” ê³ ê°
    - CLV / CAC ë¹„ìœ¨ì´ 3:1 ì´ìƒì´ë©´ ì¢‹ì€ ë¹„ì¦ˆë‹ˆìŠ¤
    """

    # 1. í‰ê·  ì£¼ë¬¸ ê°€ì¹˜
    avg_order_value = t_df.groupby('customer_id')['order_value'].mean()

    # 2. ì—°ê°„ êµ¬ë§¤ ë¹ˆë„(êµ¬ë§¤ ì£¼ê¸°)
    def get_annual_purchase(x):
        # 1íšŒ ì´ìƒ êµ¬ë§¤í•œ ê²½ìš°
        if len(x) > 1:
            # 1ë…„ì— ëª‡ë²ˆì •ë„ ì‚¬ëŠëƒ
            return len(x) / ((x['purchase_date'].max() - x['purchase_date'].min()).days + 1) * 365
        # 1íšŒ êµ¬ë§¤ìëŠ” ê·¸ëƒ¥ 1
        else:
            return 1
    purchase_frequency = t_df.groupby('customer_id').apply(get_annual_purchase)

    # 3. ê³ ê° ìƒì¡´ ê¸°ê°„ -> ì‹¤ì œë¡œëŠ” ë” ì •êµí•œ ìƒì¡´ ë¶„ì„ ì‚¬ìš©
    lifespan_days = t_df.groupby('customer_id').apply(
        lambda x: (x['purchase_date'].max() - x['purchase_date'].min()).days + 1
    )
    
    # clv ê³„ì‚°
    clv_data = pd.DataFrame({
        'customer_id': avg_order_value.index,
        'avg_order_value': avg_order_value.values,
        'purchase_frequency': purchase_frequency.values,
        'lifespan_days': lifespan_days.values,
    })

    clv_data['clv'] = clv_data['avg_order_value'] * clv_data['purchase_frequency'] * (clv_data['lifespan_days'] / 365)
    return clv_data


clv_df = calculate_clv(df, rfm_data)

C:\Users\user\AppData\Local\Temp\ipykernel_31964\1546501734.py:24: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  purchase_frequency = t_df.groupby('customer_id').apply(get_annual_purchase)
C:\Users\user\AppData\Local\Temp\ipykernel_31964\1546501734.py:27: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  lifespan_days = t_df.groupby('customer_id').apply(