### 11번. 1부터 50까지 숫자 중 5의 배수만 리스트에 저장하여 출력하세요.

리스트 내포(List Comprehension)를 사용해도 좋습니다.

📌 출력 예시:
```
[5, 10, 15, ..., 100]
```

In [ ]:
result = []

num = 0
# 반복을 합니다.
# 5를 더하는 행위를.
# 50이 되었을때까지.
while True:
    num += 5
    result.append(num)

    if num == 50:
        break
print(result)

In [ ]:
result = []

num = 5
# 반복을 합니다.
# 5를 더하는 행위를.
# 50이 되었을때까지.
while True:
    result.append(num)
    num += 5

    if num > 50:
        break
print(result)

In [ ]:
# 5에다가 1곱함
# 5에다가 2곱함
# 5에다가 3곱함
# 곱한 결과가 50보다 작을때까지.
result = []
x = 1
while True:
    # 5 * 1
    # 5 * 2
    # 5 * 3
    num = 5 * x
    x += 1

    result.append(num)
    if num == 50:
        break

print(result)

In [ ]:
result = []
for num in range(1, 51):
    # num이 5의 배수일때만 result에 넣을게.
    if num % 5 == 0:
        result.append(num)
print(result)

In [ ]:
result = []
for num in range(5, 51, 5):
    result.append(num)
print(result)

print([num for num in range(5, 51, 5)])

### 12번. 짝수만 필터링하여 새로운 리스트 만들기

다음 리스트에서 짝수만 골라 새로운 리스트로 만드세요:
```python
nums = [1,2,3,4,5,6,7,8,9,10]
```
📌 출력 예시:
```
[2, 4, 6, 8, 10]
```

In [ ]:
nums = [1,2,3,4,5,6,7,8,9,10]

# 하나하나 확인하면서 짝수인 경우에 새로운 리스트에 넣겠어.

# 새로운 리스트 만들기
result = []

# 하나하나 확인하기
for num in nums:
    # 짝수인지
    if num % 2 == 0:
        # 맞으면 넣음
         result.append(num)

print([num for num in nums if num % 2 == 0])
print(result)

### 13번. 딕셔너리에서 가장 비싼 과일 찾기

다음 딕셔너리에서 가격이 가장 높은 과일과 그 가격을 출력하세요:
```python
fruits = {'apple': 1000, 'banana': 500, 'orange': 800}
```

In [ ]:
fruits = {'apple': 1000, 'banana': 500, 'orange': 800}

max_price = float('-inf')
max_price = 0
max_price_fruit = ""

for fruit, price in fruits.items():

    # 이 조건문을 통과하는 순간 : 최고가가 경신되었을 때.
    if max_price < price:
        max_price = price
        max_price_fruit = fruit
print(max_price, max_price_fruit)

In [ ]:
fruits = {'apple': 1000, 'banana': 500, 'orange': 800, 'lemon' : 1000}

# 둘 중 하나 택 1
# 코드는 아래거로 실행됨.
max_price = float('-inf')
max_price = 0

max_price_fruit = []

for fruit, price in fruits.items():

    # 이 조건문을 통과하는 순간 : 최고가가 경신되었을 때.
    if max_price < price:
        max_price = price
        max_price_fruit = [fruit]
    # 최고가가 한번 더 나왔을 때 : 이미 max_price_fruit이라는 곳에 과일이 들어있음.
    elif max_price == price:
        max_price_fruit.append(fruit)
print(max_price, max_price_fruit)

### 14번. 구구단 3단 출력하기

for문을 사용하여 구구단 3단을 출력하세요.

📌 출력 예시:
```
3 x 1 = 3
3 x 2 = 6
...
3 x 9 = 27
```

In [ ]:
for dan in range(2, 10):
    print(f'----------------{dan} 단-----------------')
    for num in range(1, 10):
        print(f'{dan} x {num} = {dan * num}')

### 15번. 문자열에서 각 문자 개수 세기

사용자로부터 문자열을 입력받아, 각 문자가 몇 번 나오는지 딕셔너리 형태로 출력하세요.

📌 예시 입력: `hello`
📌 예시 출력: `{'h':1, 'e':1, 'l':2, 'o':1}`

In [ ]:
text = input("문자열을 입력하세요: ")

counter = {}
for char in text:
    # dict 는 in 연산시, key만 확인한다.
    if char in counter:
        counter[char] += 1  # 기존에 있는 키의 value만 수정
    else:
        counter[char] = 1   # 없는 키와 value 등록

print(counter)

In [ ]:
counter = {}
for char in text:
    counter[char] = counter.get(char, 0) + 1
    
print(counter)

### 16번. 리스트 정렬과 최대/최소 값 찾기

다음 리스트를 오름차순으로 정렬하고, 가장 큰 값과 가장 작은 값을 출력하세요:
```python
nums = [3, 1, 4, 1, 5, 9, 2, 6]
```

In [ ]:
nums = [3, 1, 4, 1, 5, 9, 2, 6]

nums.sort()
print(nums, nums[0], nums[-1])

In [ ]:
import random
x = list(range(int(10e6)))
random.shuffle(x)

In [5]:
xx = sorted(x)
xx[0], xx[-1]

(0, 9999999)

In [6]:
minimum = maximum = x[0]

for n in x:
    if n > maximum:
        maximum = n
    elif n < minimum:
        minimum = n

print(maximum, minimum)

9999999 0

### 17번. 회문(Palindrome) 검사

입력받은 단어가 앞에서 읽든 뒤에서 읽든 같은 단어인지 확인하는 프로그램을 작성하세요.

📌 예시: `level` → 회문 / `hello` → 회문 아님

In [ ]:
# word = input("단어를 입력하세요: ")
word = '수박이 박수\n'
# 띄어쓰기 처리
word = word.replace(' ', '')
word = word.strip()

if word == word[::-1]:
    print('회문')
else:
    print('아님')

### 18번. 집합 연산: 합집합, 교집합, 차집합

다음 두 집합의 합집합, 교집합, 차집합을 구하세요:
```python
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
```

In [ ]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

print(A | B)  # 합
print(A & B)  # 교
print(A - B)  # 차

### 19번. 1부터 n까지의 합 구하기

사용자로부터 정수 n을 입력받아 1부터 n까지의 합을 구하는 프로그램을 작성하세요.

In [ ]:
n = int(input("정수를 입력하세요: "))

total = 0
for i in range(1, n+1):
    total += i

print(total)

In [ ]:
int(n * (n+1) / 2)

### 20번. 리스트에서 중복 제거

다음 리스트에서 중복된 값을 제거하고 유일한 값만 남긴 리스트를 출력하세요:
```python
nums = [1, 2, 2, 3, 4, 4, 5]
```

In [ ]:
nums = [1, 2, 2, 3, 4, 4, 5]
list(set(nums))

In [ ]:
uniq = []
for num in nums:
    if num not in uniq:
        uniq.append(num)

print(uniq)