### 11번. 1부터 100까지 숫자 중 5의 배수만 리스트에 저장하여 출력하세요.

리스트 내포(List Comprehension)를 사용해도 좋습니다.

📌 출력 예시:
```
[5, 10, 15, ..., 100]
```

### 12번. 짝수만 필터링하여 새로운 리스트 만들기

다음 리스트에서 짝수만 골라 새로운 리스트로 만드세요:
```python
nums = [1,2,3,4,5,6,7,8,9,10]
```
📌 출력 예시:
```
[2, 4, 6, 8, 10]
```

In [1]:
nums = [1,2,3,4,5,6,7,8,9,10]

### 13번. 딕셔너리에서 가장 비싼 과일 찾기

다음 딕셔너리에서 가격이 가장 높은 과일과 그 가격을 출력하세요:
```python
fruits = {'apple': 1000, 'banana': 500, 'orange': 800}
```

In [ ]:
fruits = {'apple': 1000, 'banana': 500, 'orange': 800}

### 14번. 구구단 3단 출력하기

for문을 사용하여 구구단 3단을 출력하세요.

📌 출력 예시:
```
3 x 1 = 3
3 x 2 = 6
...
3 x 9 = 27
```

### 15번. 문자열에서 각 문자 개수 세기

사용자로부터 문자열을 입력받아, 각 문자가 몇 번 나오는지 딕셔너리 형태로 출력하세요.

📌 예시 입력: `hello`
📌 예시 출력: `{'h':1, 'e':1, 'l':2, 'o':1}`

In [ ]:
text = input("문자열을 입력하세요: ")

### 16번. 리스트 정렬과 최대/최소 값 찾기

다음 리스트를 오름차순으로 정렬하고, 가장 큰 값과 가장 작은 값을 출력하세요:
```python
nums = [3, 1, 4, 1, 5, 9, 2, 6]
```

In [ ]:
nums = [3, 1, 4, 1, 5, 9, 2, 6]

### 17번. 회문(Palindrome) 검사

입력받은 단어가 앞에서 읽든 뒤에서 읽든 같은 단어인지 확인하는 프로그램을 작성하세요.

📌 예시: `level` → 회문 / `hello` → 회문 아님

In [ ]:
word = input("단어를 입력하세요: ")

### 18번. 집합 연산: 합집합, 교집합, 차집합

다음 두 집합의 합집합, 교집합, 차집합을 구하세요:
```python
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
```

In [ ]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

### 19번. 1부터 n까지의 합 구하기

사용자로부터 정수 n을 입력받아 1부터 n까지의 합을 구하는 프로그램을 작성하세요.

In [ ]:
n = int(input("정수를 입력하세요: "))

### 20번. 리스트에서 중복 제거

다음 리스트에서 중복된 값을 제거하고 유일한 값만 남긴 리스트를 출력하세요:
```python
nums = [1, 2, 2, 3, 4, 4, 5]
```

In [ ]:
nums = [1, 2, 2, 3, 4, 4, 5]