### 11번. 1부터 100까지 숫자 중 5의 배수만 리스트에 저장하여 출력하세요.

리스트 내포(List Comprehension)를 사용해도 좋습니다.

📌 출력 예시:
```
[5, 10, 15, ..., 100]
```

In [ ]:
multiples_of_5 = [i for i in range(1, 101) if i % 5 == 0]
print(multiples_of_5)

### 12번. 짝수만 필터링하여 새로운 리스트 만들기

다음 리스트에서 짝수만 골라 새로운 리스트로 만드세요:
```python
nums = [1,2,3,4,5,6,7,8,9,10]
```
📌 출력 예시:
```
[2, 4, 6, 8, 10]
```

In [ ]:
nums = [1,2,3,4,5,6,7,8,9,10]
even_nums = [n for n in nums if n % 2 == 0]
print(even_nums)

### 13번. 딕셔너리에서 가장 비싼 과일 찾기

다음 딕셔너리에서 가격이 가장 높은 과일과 그 가격을 출력하세요:
```python
fruits = {'apple': 1000, 'banana': 500, 'orange': 800}
```

In [ ]:
fruits = {'apple': 1000, 'banana': 500, 'orange': 800}
max_fruit = max(fruits.items(), key=lambda x: x[1])
print(f"가장 비싼 과일: {max_fruit[0]} ({max_fruit[1]}원)")

### 14번. 구구단 3단 출력하기

for문을 사용하여 구구단 3단을 출력하세요.

📌 출력 예시:
```
3 x 1 = 3
3 x 2 = 6
...
3 x 9 = 27
```

In [ ]:
for i in range(1, 10):
    print(f"3 x {i} = {3 * i}")

### 15번. 문자열에서 각 문자 개수 세기

사용자로부터 문자열을 입력받아, 각 문자가 몇 번 나오는지 딕셔너리 형태로 출력하세요.

📌 예시 입력: `hello`
📌 예시 출력: `{'h':1, 'e':1, 'l':2, 'o':1}`

In [ ]:
text = input("문자열을 입력하세요: ")
count_dict = {}
for char in text:
    count_dict[char] = count_dict.get(char, 0) + 1
print(count_dict)

### 16번. 리스트 정렬과 최대/최소 값 찾기

다음 리스트를 오름차순으로 정렬하고, 가장 큰 값과 가장 작은 값을 출력하세요:
```python
nums = [3, 1, 4, 1, 5, 9, 2, 6]
```

In [ ]:
nums = [3, 1, 4, 1, 5, 9, 2, 6]
nums.sort()
print("정렬된 리스트:", nums)
print("최솟값:", nums[0])
print("최댓값:", nums[-1])

### 17번. 회문(Palindrome) 검사

입력받은 단어가 앞에서 읽든 뒤에서 읽든 같은 단어인지 확인하는 프로그램을 작성하세요.

📌 예시: `level` → 회문 / `hello` → 회문 아님

In [ ]:
word = input("단어를 입력하세요: ")
if word == word[::-1]:
    print("회문입니다.")
else:
    print("회문이 아닙니다.")

### 18번. 집합 연산: 합집합, 교집합, 차집합

다음 두 집합의 합집합, 교집합, 차집합을 구하세요:
```python
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
```

In [ ]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
print("합집합:", A | B)
print("교집합:", A & B)
print("차집합:", A - B)

### 19번. 1부터 n까지의 합 구하기

사용자로부터 정수 n을 입력받아 1부터 n까지의 합을 구하는 프로그램을 작성하세요.

In [ ]:
n = int(input("정수를 입력하세요: "))
total = sum(range(1, n + 1))
print("1부터", n, "까지의 합:", total)

### 20번. 리스트에서 중복 제거

다음 리스트에서 중복된 값을 제거하고 유일한 값만 남긴 리스트를 출력하세요:
```python
nums = [1, 2, 2, 3, 4, 4, 5]
```

In [ ]:
nums = [1, 2, 2, 3, 4, 4, 5]
unique_nums = list(set(nums))
print(unique_nums)