# 컨테이너(Container)

여러 개의 값을 저장할 수 있는 것(객체)을 의미하며, `서로 다른 자료형`을 저장 할 수 있습니다.

### 컨테이너 분류
- 시퀀스(Sequence)형 : 순서가 있는(ordered) 데이터
- 비 시퀀스(Non-sequence)형 : 순서가 없는(unordered) 데이터

<img width="712" alt="container" src="https://user-images.githubusercontent.com/45934087/148164052-3b12d3a2-a95e-4d4d-ae25-86ca1ba9657b.png">

## 시퀀스(sequence)형 컨테이너

`시퀀스`는 데이터가 순서대로 나열된(ordered) 형식을 나타냅니다.

* **주의! 순서대로 나열된 것이 `정렬되었다(sorted)`라는 뜻은 아닙니다.**

### 특징
1. 순서가 있습니다.

2. **특정 위치의 데이터를 가리킬 수 있습니다.**

### 종류
파이썬에서 기본적인 시퀀스 타입은 다음과 같습니다.

* 리스트(list)

* 튜플(tuple)

* 레인지(range)

* *문자형(string)*

* *바이너리(binary)* : 다루지 않습니다.


### 리스트 (List)

<center><img src="https://user-images.githubusercontent.com/18046097/61180421-fe90ae80-a650-11e9-8211-d06f87756d05.png", alt="list figure"/></center>

**생성과 접근**
```python
[value1, value2, value3]
```

리스트는 대괄호`[]` 및 `list()` 를 통해 만들 수 있습니다.

In [7]:
# 빈 list를 만들어봅시다.
# 변수명 my_list인 list를 대괄호로 만들어봅시다.
# 변수명 another_list인 list를 list()로 만들어 봅시다.
# 두 변수의 타입을 출력해 봅시다.

list1 = []
list2 = list()

print(list1, list2, type(list1), type(list2))

[] [] <class 'list'> <class 'list'>

In [86]:
# 원소를 포함한 list를 만들어 봅시다.
# 변수명이 location인 list에 동네 5곳을 넣어봅시다
# 변수 location을 출력해 봅시다.
# location의 타입을 출력해 봅시다.
locations = ['반포', '안양', '광교', '삼성', '신사']

In [87]:
# location의 첫번째 값을 인덱스로 접근해 봅시다.

locations[len(locations) - 1]

locations[-1]

'신사'


순서가 있는 시퀀스로 인덱스를 통해 접근 가능합니다.
- 값에 대한 접근은 `list[i]` 방식으로 접근합니다.

![image](https://user-images.githubusercontent.com/45934087/148164331-f0ff4193-6b05-4d99-bbde-dd1eef13b0b1.png)

In [15]:
# 변수 boxes에 문자열 'A', 'B', 리스트 ['apple', 'banana', 'cherry']를 할당합니다.
boxes = ['A', 'B', ['apple', 'banana', 'cherry']]

In [16]:
# boxes의 길이를 len 함수를 이용하여 출력해 봅시다.
len(boxes)

3

In [68]:
# boxes의 3번째 요소를 인덱스로 접근하여 출력해 봅시다.
boxes[0]

'A'

In [52]:
# boxes의 3번째 요소들 중, 마지막 요소를 negative index로 접근하여 출력해 봅시다.

boxes[2][-1]

'cherry'

In [ ]:
# boxes의 마지막 요소들 중, 두번째 요소의 첫번째 알파벳
boxes[-1][1][0]

'b'

### 튜플 (Tuple)

**생성과 접근**
```python
(value1, value2)
```

튜플은 리스트와 유사하지만, `()`로 묶어서 표현합니다.

- tuple은 수정 불가능(불변, immutable)합니다.

- 직접 사용하기 보다는 파이썬 내부에서 다양한 용도로 활용되고 있습니다.

In [69]:
# tuple을 만들어봅시다.
# 변수명이 my_tuple인 tuple을 만들어 봅시다. 단, 무작위 정수 2개를 포함하여 만듭니다.
# my_tuple의 타입을 출력해 봅시다.
my_tuple = (100, 200)
print(my_tuple, type(my_tuple))

(100, 200) <class 'tuple'>

In [71]:
# 아래와 같은 방식으로도 만들 수 있습니다.
tuple([1, 2, 3])

(1, 2, 3)

**튜플 생성 주의 사항**
- 단일 항목의 경우

In [5]:
# 하나의 항목으로 구성된 튜플은 생성 시 값 뒤에 쉼표를 붙여야 합니다.
# 아래 코드를 실행하여 변수 a의 타입을 확인해 봅시다.
a = (1)
type(a)

int

In [80]:
# 변수명이 single_tuple인 하나의 요소(값)로 구성된 tuple을 만들어 봅시다. (길이가 1)
# 하나의 요소(값)로 구성된 tuple은 값 뒤에 쉼표를 붙여서 만듭니다.
# single_tuple의 타입을 출력해 봅시다.
# single_tuple의 길이를 출력해 봅시다.
single_tuple = (1, )
print(single_tuple, type(single_tuple))

(1,) <class 'tuple'>

- 복수 항목의 경우

In [ ]:
# 마지막 항목에 붙은 쉼표는 생략 할 수 있습니다.
# 아래 코드를 실행하여 변수 b와 c의 타입을 확인해 봅시다.
b = (1, 2)
c = (1, 2,)

print(type(b), type(c))

<class 'tuple'> <class 'tuple'>

**튜플 대입**
- 우변의 값을 좌변의 변수에 한번에 할당하는 과정을 의미합니다.
- 튜플은 일반적으로 파이썬 내부에서 활용됩니다.
    - 추후 함수 파트에서 복수의 값을 반환하는 경우에도 확인할 수 있습니다.

In [93]:
# 파이썬 내부에서는 다음과 같이 활용됩니다. (변수 및 자료형 예제에서 사용된 코드입니다.)
1, 2

x = 1, 2, 3

In [10]:
# 실제로는 tuple로 처리됩니다.
x = 1, 2, 2, 1, 2
print(x, type(x), x[0])

(1, 2, 2, 1, 2) <class 'tuple'> 1

In [96]:
# 변수의 값을 swap하는 코드 역시 tuple을 활용하고 있습니다.
(x, y) = (1, 2)

type(x), type(y)

(int, int)

In [8]:
# 변수명이 empty인 빈 tuple을 만들어 봅시다.
# 빈 tuple은 빈 괄호 쌍으로 만들어집니다.
# empty의 타입을 출력해 봅시다.
# empty의 길이를 출력해 봅시다.
empty = ()

type(empty), len(empty)

(tuple, 0)

### 레인지 (range())

`range` 는 정수의 시퀀스를 나타내기 위해 사용됩니다.

기본형 : `range(n)`


> 0부터 n-1까지 값을 가짐


범위 지정 : `range(n, m)`

> n부터 m-1까지 값을 가짐

범위 및 스텝 지정 : `range(n, m, s)`

> n부터 m-1까지 +s만큼 증가한다

In [13]:
# range를 만들어봅시다.
# 0부터 2까지 값을 가지는 range를 만들고 타입을 출력해 봅시다.
type(range(3))

range

In [17]:
# 0부터 9까지 값을 가지는 range를 만들고 list로 형 변환을 해 봅시다.
# 작성한 range를 list()로 감싸 형 변환 할 수 있습니다.
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
# 4부터 8까지의 숫자를 담은 range를 만들고 list로 형 변환을 해 봅시다.
r = range(4, 9)
list(r)

[4, 5, 6, 7, 8]

In [84]:
r = range(1, 21, 1)
#   1이상 21미만 숫자 1씩 증가
list(r)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
# range(start, end, [step, ])을 활용합니다.
# 0부터 -9까지 담긴 range를 만들고 list로 형 변환을 해 봅시다.
# 출력 결과는 다음과 같습니다.
# [0, -1, -2, -3, -4, -5, -6, -7, -8, -9]
r1 = range(10, 0, -1)
r2 = range(0, -10, -1)

list(r1), list(r2)

([10, 9, 8, 7, 6, 5, 4, 3, 2, 1], [0, -1, -2, -3, -4, -5, -6, -7, -8, -9])

### 패킹 / 언패킹 연산자 (Packing / Unpacking Operator)
모든 시퀀스형(리스트, 튜플 등)은 패킹/언패킹 연산자 * 를 사용하여 객체의 패킹 또는 언패킹이 가능합니다.
```python
x, *y = i, j, k ...
```

**패킹**
- 대입문의 좌변 변수에 위치합니다.
- 우변의 객체 수가 좌변의 변수 수보다 많을 경우 객체를 순서대로 대입합니다.
- 나머지 항목들은 모두 별 기호 표시된 변수에 리스트로 대입합니다.

In [ ]:
# x 를 패킹을 통해 저장해 봅시다.

In [66]:
x, *y = [1, 2, 3, 4, 5]

x, y

(1, [2, 3, 4, 5])

In [135]:
a = [1, 2, 3]
print(id(a))
a[1] = 20
print(id(a))

2965657160512
2965657160512

In [ ]:
b = (1, 2, 3)
b[1] = 20

TypeError: 'tuple' object does not support item assignment

In [140]:
s = 'abc'
s.replace('b', 'B')

'aBc'

**언패킹**
- argument 이름이 *로 시작하는 경우, argument unpacking이라고 부릅니다.
- 패킹의 경우, 리스트로 대입합니다.

In [ ]:
def multiply(x, y, z):
    return x * y * z

- 언패킹의 경우, 튜플 형태로 대입합니다.

In [ ]:
numbers = [1, 2, 3]
multiply(numbers)  # multiply([1, 2, 3])
multiply(*numbers)  # multiply(1, 2, 3)

**패킹/언패킹 연산자 주의사항**

` * ` 연산자가 곱셈을 의미하는지 패킹/언패킹 연산자인지 구분하여야 합니다.
- 패킹/언패킹 연산자의 경우
    1. 연산자가 대입식의 좌측에 위치하는 경우
    2. 연산자가 단항 연산자로 사용되는 경우
        - 단항 연산자 : 하나의 항을 대상으로 연산이 이루어지는 연산자
        
        
- 산술연산자의 경우
    1. 연산자가 이항연산자로 사용되는 경우
        - 이항 연산자 : 두 개의 항을 대상으로 연산이 이루어지는 연산자

## 비 시퀀스형(Non-sequence) 컨테이너

- 세트(set)

- 딕셔너리(dictionary)

### 세트 (Set)

`set`은 순서가 없고 중복된 값이 없는 자료구조입니다.

* `set`은 수학에서의 집합과 동일하게 처리됩니다.

* `set`은 중괄호`{}`를 통해 만들며, 순서가 없고 중복된 값이 없습니다.

* 담고있는 객체를 삽입 변경, 삭제 가능 (mutable) 합니다.

* 빈 세트를 만들려면 `set()`을 사용해야 합니다. (`{}`로 사용 불가능)

* 활용 가능한 연산자는 차집합(`-`), 합집합(`|`), 교집합(`&`)입니다.

**생성과 접근**
```python
{value1, value2, value3}
```

In [162]:
# set 두개를 만들어서 연산자들을 활용해봅시다.
s1 = {3, 1, 2, 1, 2, 3, 3}
s2 = {3, 4, 5}

type(s1), type(s2), s1, s2

(set, set, {1, 2, 3}, {3, 4, 5})

* 차집합은 연산자 `-`를 사용합니다.

In [148]:
# set_a와 set_b의 차집합을 구해봅시다.
s1 - s2

{1, 2}

* 합집합은 연산자 `|`를 사용합니다.

In [149]:
# set_a와 set_b의 합집합을 구해봅시다.
s1 | s2

{1, 2, 3, 4, 5}

* 교집합은 연산자 `&`을 사용합니다.

In [150]:
# set_a와 set_b의 교집합을 구해봅시다.
s1 & s2

{3}

In [ ]:
# set은 중복된 값이 있을 수 없습니다.

* `set`을 활용하면 `list`의 중복된 값을 손쉽게 제거할 수 있습니다.
* 단, `set`으로 변환하는 순간 순서를 보장할 수 없습니다.

In [ ]:
# set으로 중복된 값을 제거해봅시다.
# 문자열 서울, 서울, 대전, 광주, 서울, 대전, 부산, 부산를 원소로 가지는 set를 만듭니다.
# 생성한 세트의 길이를 출력해 봅시다.
locations = ['서울', '서울', '대전', '광주', '서울', '대전', '부산', '부산']

x = set(locations)  # 중복있는 list -> 중복없는 set -> 중복없는 list
# x[0]  -> 집합은 인덱스 접근(subscription) 안됨!!

y = list(x)

list(set(locations))

'부산'

In [ ]:
# 생성한 세트를 출력해 봅시다.
# 세트는 순서를 보장하지 않습니다.

### 딕셔너리 (dictionary)

`dictionary`는 `key`와 `value`가 쌍으로 이뤄져있습니다.


<center><img src="https://user-images.githubusercontent.com/18046097/61180427-1405d880-a651-11e9-94e1-1cc5c2a2ff34.png"></center>

**생성과 접근**

```python
{Key1:Value1, Key2:Value2, Key3:Value3, ...}
```

* `{}`를 통해 만들며, `dict()`로 만들 수 있습니다.
* 순서를 보장하지 않습니다.
* `key`는 **변경 불가능(immutable)한 데이터**만 가능합니다. (immutable : string, integer, float, boolean, tuple, range)
* `value`는 `list`, `dictionary`를 포함한 모든 것이 가능합니다.

In [176]:
# 비어있는 dictionary를 두가지 방법으로 만들어봅시다.
# {}와 dict()로 만들 수 있습니다.
# 두 변수의 타입을 출력해 봅시다.
d1 = {}
d2 = dict()

type(d1), type(d2)

(dict, dict)

In [179]:
# dictionary에 중복된 key는 존재할 수 없습니다.
{'a': 1, 'b': 2, 'a': 3}

{'a': 3, 'b': 2}

In [192]:
# 지역번호가 담긴 전화번호부를 만들어봅시다.
# 변수 phone_book에 key를 지역명, value를 지역번호로 가지는 원소를 작성합니다.
# 예) 서울 - 02 / 경기도 - 031 / 인천 - 032 / 광주 - 062 / 충청 - 041

phone_book = {
    '서울': '02',
    '경기도': '031', 
    '인천': '032', 
    '광주': '062', 
    '충청': '041',
}

phone_book['서울'] = '002'

phone_book

{'서울': '002', '경기도': '031', '인천': '032', '광주': '062', '충청': '041'}

In [188]:
# 위에서 작성한 phone_book이 가지고 있는 key 목록을 확인 해 봅시다.
# dictionary의 .keys() 메소드를 활용하여 key를 확인 해볼 수 있습니다.
phone_book.keys()

dict_keys(['서울', '경기도', '인천', '광주', '충청'])

In [189]:
# 위에서 작성한 phone_book이 가지고 있는 value 목록을 확인 해 봅시다.
# 딕셔너리의 .values() 메소드를 활용하여 value를 확인 해볼 수 있습니다.
phone_book.values()

dict_values(['02', '031', '032', '062', '041'])

In [190]:
# 위에서 작성한 phone_book이 가지고 있는 key와 value 목록을 확인 해 봅시다.
# 딕셔너리의 .items() 메소드를 활용하여 key, value를 확인 해볼 수 있습니다.
phone_book.items()

dict_items([('서울', '02'), ('경기도', '031'), ('인천', '032'), ('광주', '062'), ('충청', '041')])

# 형변환(Type conversion, Typecasting)

파이썬에서 데이터타입은 서로 변환할 수 있습니다.

- 암시적 형변환
- 명시적 형변환

## 컨테이너형 형변환

파이썬에서 컨테이너는 서로 변환할 수 있습니다.

<img width="708" alt="typecasting" src="https://user-images.githubusercontent.com/18046097/61180466-a6a67780-a651-11e9-8c0a-adb9e1ee04de.png">

In [ ]:
# 하나의 결과를 확인 한 후, 주석 `#` 을 활용하여 이전의 코드를 비활성화 합니다.
# 형변환 후의 결과를 확인 합니다.

In [ ]:
# list를 형변환 해봅시다.
l = [1, 2, 3]

# str(l)    # '[1, 2, 3]'
# tuple(l)  # (1, 2, 3)
# range(l)  # Error
# set(l)    # {1, 2, 3}
# dict(l)   # Error

(1, 2, 3)

In [219]:
# tuple을 형변환 해봅시다.
t = (1, 2, 3)
# str(t)   # '(1, 2, 3)'
# list(t)  # [1, 2, 3]
# range(t) # Error
# set(t)   # {1, 2, 3}
# dict(t)  # Error

In [229]:
# range를 형변환 해봅시다.
r = range(3)
# str(r)  # 'range(0, 3)'
# list(r)  # [0, 1, 2]
# tuple(r)  # (0, 1, 2)
# set(r)  # {0, 1, 2}
# dict(r)  # Error

In [257]:
# set을 형변환 해봅시다.
s = {1, 2, 3}    # hashing 가능한
# str(s)    # '{1, 2, 3}'
# list(s)   # [1, 2, 3]
# tuple(s)  # (1, 2, 3)
# range(s)  # Error
# dict(s)   # Error

In [263]:
# dictionary를 형변환 해봅시다. 
d = {'a': 1, 'b': 2}
# str(d)    # "{'a': 1, 'b': 2}"
# list(d)   # ['a', 'b']  -> 키만 나왔네
# tuple(d)  # ('a', 'b')
# set(d)    # {'a', 'b'} 
# range(d)  # Error

In [ ]:
# immutable 한 값들만 dict의 key 가 될수 있음
d = {'a': 1, 'b': 2, 100: 100, 1.3: 100, (1,): 100}
# immutable 한 값들만 set의 들어갈 수 있다.
s = { 1, 2, 3, 'a', range(1, 10)}

# 정리
## 컨테이너(Container)
<center><img src="https://user-images.githubusercontent.com/18046097/61180439-44e60d80-a651-11e9-9adc-e60fa57c2165.png", alt="container"/></center>

## 시퀀스형 연산자(Sqeuence Type Operator)

### 산술 연산자 (+)
시퀀스를 연결(concatenation)할 수 있습니다.

In [ ]:
# 두 list [1, 2] 와 ['a'] 를 + 를 이용하여 합쳐봅시다.

In [88]:
[1, 2] + ['a']

[1, 2, 'a']

In [ ]:
# 두 튜플 (1, 2) 와 ('a',) 를 + 를 이용하여 합쳐봅시다.

In [90]:
(1, 2) + ('a', )

(1, 2, 'a')

In [ ]:
# range에는 사용할 수 없습니다.
# range(1), range(2, 5) 를 + 를 이용하여 합치고자 할 때 발생하는 오류를 확인해 봅시다.

In [92]:
range(1) + range(2, 5)

TypeError: unsupported operand type(s) for +: 'range' and 'range'

In [ ]:
# 두 문자열 '12' 와 'a' 를 + 를 이용하여 합쳐봅시다.

In [96]:
'12' + 'a'

'12a'

### 반복 연산자 (*)
시퀀스를 반복할 수 있습니다.

In [ ]:
# 리스트 [0] 을 *을 이용해 8번 반복해봅시다.

In [97]:
[0] * 8

[0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
# 튜플 (1, 2) 를 * 을 활용해 3번 반복해봅시다.

In [98]:
(1, 2) * 3

(1, 2, 1, 2, 1, 2)

In [ ]:
# range에는 사용할 수 없습니다.
# range(1) 을 * 연산자로 3번 반복하려고 할 때 발생하는 오류를 확인해 봅시다.

In [99]:
range(1) * 3

TypeError: unsupported operand type(s) for *: 'range' and 'int'

In [ ]:
# 문자열 'hi' 를 * 을 활용해 3번 반복해봅시다.

In [100]:
'hi' * 3

'hihihi'

## 기타 : 인덱싱/슬라이싱 (Indexing/Slicing)
`[]`를 통한 값을 접근하고, `[:]`을 통해 슬라이싱할 수 있습니다. (data structure 챕터에서 자세하게 학습합니다.)

### 인덱싱
시퀀스의 특정 인덱스 값에 접근 할 수 있습니다.
- 해당 인덱스가 없는 경우 IndexError가 발생합니다.

In [ ]:
# 리스트를 인덱싱을 통해 값에 접근해봅시다.
# 리스트 [1, 2, 3]의 세번째 값을 인덱싱으로 확인해봅시다.

In [101]:
[1, 2, 3][2]

3

In [ ]:
# 튜플을 인덱싱을 통해 값에 접근해봅시다.
# 튜플 (1, 2, 3)의 첫번째 값을 인덱싱으로 확인해봅시다.

In [102]:
(1, 2, 3)[0]

1

In [ ]:
# range를 인덱싱을 통해 값에 접근해봅시다.
# range(3)의 세번째 값을 인덱싱으로 확인해봅시다.

In [ ]:
range(3)[2]  # 0, 1, 2

2

In [ ]:
# 문자열을 인덱싱을 통해 값에 접근해봅시다.
# 문자열 'abc'의 첫번째 값을 인덱싱으로 확인해봅시다.

In [104]:
'abc'[0]

'a'

In [ ]:
# 찾고자 하는 인덱스가 존재하지 않을때 오류가 발생합니다.
# 문자열 apple의 100번째 값을 인덱싱으로 확인하고자 할 때 발생하는 오류를 확인해봅시다.

In [107]:
'apple'[100]

IndexError: string index out of range

### 슬라이싱
- Sequence[start:end[:step]]

시퀀스를 특정 단위로 슬라이싱 할 수 있습니다.

In [115]:
# 아래 코드들을 실행한 결과를 확인하여 슬라이싱의 작동 원리를 파악해봅시다.
print([1, 2, 3, 4][1:4])  # 시작idx <= 대상 < 끝나는idx  # 1:4 -> 1, 2, 3
print((1, 2, 3)[:2])  # : 앞이 비면 처음부터 / 뒤가 비면 끝까지. 둘 다 비면 처음~끝
print(range(10)[5:8])  # 5, 6, 7 
print('abcd'[2:100])  # slice 마지막 인덱스가 더 크더라도, 에러가 발생하지 않는다.

'010-1234-5678'[4:8]  # 특정 자리만큼만

[2, 3, 4]
(1, 2)
range(5, 8)
cd

'1234'

시퀀스를 `k` 간격으로 슬라이싱 할 수 있습니다.

In [126]:
# 아래 코드들을 실행한 결과를 확인하여 슬라이싱의 작동 원리를 파악해봅시다.
# 문자열, 튜플, 레인지에서 모두 동일하게 동작합니다.
[1, 2, 3, 4, 5, 6][6:1:-1]

[6, 5, 4, 3]

In [116]:
# 아래의 코드를 실행하여 결과를 확인해 봅시다.
s = 'abcdefghi'

In [117]:
print(s[:3])
print(s[5:])
print(s[::])
print(s[::-1])

abc
fghi
abcdefghi
ihgfedcba

# 정리

## 변수(Variable)와 자료형(Data Type)

<center><img width=800 height=400 src="https://user-images.githubusercontent.com/9452521/87640197-55a7f280-c781-11ea-9cff-19c022ce704a.png", alt="variable"/></center>

## 컨테이너(Container)
<center><img src="https://user-images.githubusercontent.com/18046097/61180439-44e60d80-a651-11e9-9adc-e60fa57c2165.png", alt="container"/></center>

## 함수 (Function)
- 특정 명령을 수행하는 함수 묶음을 말합니다.

In [264]:
def multiply(x, y, z):
    return x * y * z


multiply(5, 6, 3)

90

## 모듈 (Module)
- 함수 / 클래스의 모음 또는 하나의 프로그램을 구성하는 단위를 의미합니다.

## 패키지 (Package)
- 프로그램과 모듈의 묶음을 의미합니다.
    - 프로그램 : 실행하기 위한 것
    - 모듈 : 다른 프로그램에서 불러와 사용하기 위한 것
![module](https://user-images.githubusercontent.com/45934087/148158664-3798bd68-a9fa-4c21-be01-874bada7c11c.png)

## 라이브러리 (Library)
- 패키지의 모음을 의미합니다.
![Library](https://user-images.githubusercontent.com/45934087/148158810-466f417d-f950-4ac0-abcb-321e0577d043.png)