# LLM <-> DB
- Langgraph agent <-> PostgreDB 연결
- 사용자 요청 -> LLM -> SQL 쿼리 변환 -> DB -> LLM 답변 생성 -> 사용자

In [ ]:
%pip install -q psycopg2

In [6]:
from dotenv import load_dotenv

load_dotenv()

True

In [22]:
from langchain_openai import ChatOpenAI

llm = ChatOpenAI(model='gpt-4.1', temperature=0)

In [23]:
import os
from langchain_community.utilities import SQLDatabase

POSTGRES_USER = os.getenv('POSTGRES_USER')
POSTGRES_PASSWORD = os.getenv('POSTGRES_PASSWORD')
POSTGRES_DB = os.getenv('POSTGRES_DB')

URI = f"postgresql://{POSTGRES_USER}:{POSTGRES_PASSWORD}@localhost:5432/{POSTGRES_DB}"

db = SQLDatabase.from_uri(URI)

In [27]:
print(db.dialect)  # 사용중인 DB 종류
print(db.get_table_info())  # 테이블 정보
print(db.get_usable_table_names())  # 테이블 정보
db.run('SELECT * FROM artist LIMIT 10;')

postgresql

CREATE TABLE album (
	album_id INTEGER NOT NULL,
	title VARCHAR(160) NOT NULL,
	artist_id INTEGER NOT NULL,
	CONSTRAINT album_pkey PRIMARY KEY (album_id),
	CONSTRAINT album_artist_id_fkey FOREIGN KEY(artist_id) REFERENCES artist (artist_id)
)

/*
3 rows from album table:
album_id	title	artist_id
1	For Those About To Rock We Salute You	1
2	Balls to the Wall	2
3	Restless and Wild	2
*/


CREATE TABLE artist (
	artist_id INTEGER NOT NULL,
	name VARCHAR(120),
	CONSTRAINT artist_pkey PRIMARY KEY (artist_id)
)

/*
3 rows from artist table:
artist_id	name
1	AC/DC
2	Accept
3	Aerosmith
*/


CREATE TABLE customer (
	customer_id INTEGER NOT NULL,
	first_name VARCHAR(40) NOT NULL,
	last_name VARCHAR(20) NOT NULL,
	company VARCHAR(80),
	address VARCHAR(70),
	city VARCHAR(40),
	state VARCHAR(40),
	country VARCHAR(40),
	postal_code VARCHAR(10),
	phone VARCHAR(24),
	fax VARCHAR(24),
	email VARCHAR(60) NOT NULL,
	support_rep_id INTEGER,
	CONSTRAINT customer_pkey PRIMARY KEY (customer_id),
	CONSTRAINT customer_support_rep_id_fkey FOREIGN KEY(support_rep_id) REFERENCES employee (employee_id)
)

/*
3 rows from customer table:
customer_id	first_name	last_name	company	address	city	state	country	postal_code	phone	fax	email	support_rep_id
1	Luís	Gonçalves	Embraer - Empresa Brasileira de Aeronáutica S.A.	Av. Brigadeiro Faria Lima, 2170	São José dos Campos	SP	Brazil	12227-000	+55 (12) 3923-5555	+55 (12) 3923-5566	luisg@embraer.com.br	3
2	Leonie	Köhler	None	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	+49 0711 2842222	None	leonekohler@surfeu.de	5
3	François	Tremblay	None	1498 rue Bélanger	Montréal	QC	Canada	H2G 1A7	+1 (514) 721-4711	None	ftremblay@gmail.com	3
*/


CREATE TABLE employee (
	employee_id INTEGER NOT NULL,
	last_name VARCHAR(20) NOT NULL,
	first_name VARCHAR(20) NOT NULL,
	title VARCHAR(30),
	reports_to INTEGER,
	birth_date TIMESTAMP WITHOUT TIME ZONE,
	hire_date TIMESTAMP WITHOUT TIME ZONE,
	address VARCHAR(70),
	city VARCHAR(40),
	state VARCHAR(40),
	country VARCHAR(40),
	postal_code VARCHAR(10),
	phone VARCHAR(24),
	fax VARCHAR(24),
	email VARCHAR(60),
	CONSTRAINT employee_pkey PRIMARY KEY (employee_id),
	CONSTRAINT employee_reports_to_fkey FOREIGN KEY(reports_to) REFERENCES employee (employee_id)
)

/*
3 rows from employee table:
employee_id	last_name	first_name	title	reports_to	birth_date	hire_date	address	city	state	country	postal_code	phone	fax	email
1	Adams	Andrew	General Manager	None	1962-02-18 00:00:00	2002-08-14 00:00:00	11120 Jasper Ave NW	Edmonton	AB	Canada	T5K 2N1	+1 (780) 428-9482	+1 (780) 428-3457	andrew@chinookcorp.com
2	Edwards	Nancy	Sales Manager	1	1958-12-08 00:00:00	2002-05-01 00:00:00	825 8 Ave SW	Calgary	AB	Canada	T2P 2T3	+1 (403) 262-3443	+1 (403) 262-3322	nancy@chinookcorp.com
3	Peacock	Jane	Sales Support Agent	2	1973-08-29 00:00:00	2002-04-01 00:00:00	1111 6 Ave SW	Calgary	AB	Canada	T2P 5M5	+1 (403) 262-3443	+1 (403) 262-6712	jane@chinookcorp.com
*/


CREATE TABLE genre (
	genre_id INTEGER NOT NULL,
	name VARCHAR(120),
	CONSTRAINT genre_pkey PRIMARY KEY (genre_id)
)

/*
3 rows from genre table:
genre_id	name
1	Rock
2	Jazz
3	Metal
*/


CREATE TABLE invoice (
	invoice_id INTEGER NOT NULL,
	customer_id INTEGER NOT NULL,
	invoice_date TIMESTAMP WITHOUT TIME ZONE NOT NULL,
	billing_address VARCHAR(70),
	billing_city VARCHAR(40),
	billing_state VARCHAR(40),
	billing_country VARCHAR(40),
	billing_postal_code VARCHAR(10),
	total NUMERIC(10, 2) NOT NULL,
	CONSTRAINT invoice_pkey PRIMARY KEY (invoice_id),
	CONSTRAINT invoice_customer_id_fkey FOREIGN KEY(customer_id) REFERENCES customer (customer_id)
)

/*
3 rows from invoice table:
invoice_id	customer_id	invoice_date	billing_address	billing_city	billing_state	billing_country	billing_postal_code	total
1	2	2021-01-01 00:00:00	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	1.98
2	4	2021-01-02 00:00:00	Ullevålsveien 14	Oslo	None	Norway	0171	3.96
3	8	2021-01-03 00:00:00	Grétrystraat 63	Brussels	None	Belgium	1000	5.94
*/


CREATE TABLE invoice_line (
	invoice_line_id INTEGER NOT NULL,
	invoice_id INTEGER NOT NULL,
	track_id INTEGER NOT NULL,
	unit_price NUMERIC(10, 2) NOT NULL,
	quantity INTEGER NOT NULL,
	CONSTRAINT invoice_line_pkey PRIMARY KEY (invoice_line_id),
	CONSTRAINT invoice_line_invoice_id_fkey FOREIGN KEY(invoice_id) REFERENCES invoice (invoice_id),
	CONSTRAINT invoice_line_track_id_fkey FOREIGN KEY(track_id) REFERENCES track (track_id)
)

/*
3 rows from invoice_line table:
invoice_line_id	invoice_id	track_id	unit_price	quantity
1	1	2	0.99	1
2	1	4	0.99	1
3	2	6	0.99	1
*/


CREATE TABLE media_type (
	media_type_id INTEGER NOT NULL,
	name VARCHAR(120),
	CONSTRAINT media_type_pkey PRIMARY KEY (media_type_id)
)

/*
3 rows from media_type table:
media_type_id	name
1	MPEG audio file
2	Protected AAC audio file
3	Protected MPEG-4 video file
*/


CREATE TABLE playlist (
	playlist_id INTEGER NOT NULL,
	name VARCHAR(120),
	CONSTRAINT playlist_pkey PRIMARY KEY (playlist_id)
)

/*
3 rows from playlist table:
playlist_id	name
1	Music
2	Movies
3	TV Shows
*/


CREATE TABLE playlist_track (
	playlist_id INTEGER NOT NULL,
	track_id INTEGER NOT NULL,
	CONSTRAINT playlist_track_pkey PRIMARY KEY (playlist_id, track_id),
	CONSTRAINT playlist_track_playlist_id_fkey FOREIGN KEY(playlist_id) REFERENCES playlist (playlist_id),
	CONSTRAINT playlist_track_track_id_fkey FOREIGN KEY(track_id) REFERENCES track (track_id)
)

/*
3 rows from playlist_track table:
playlist_id	track_id
1	3402
1	3389
1	3390
*/


CREATE TABLE track (
	track_id INTEGER NOT NULL,
	name VARCHAR(200) NOT NULL,
	album_id INTEGER,
	media_type_id INTEGER NOT NULL,
	genre_id INTEGER,
	composer VARCHAR(220),
	milliseconds INTEGER NOT NULL,
	bytes INTEGER,
	unit_price NUMERIC(10, 2) NOT NULL,
	CONSTRAINT track_pkey PRIMARY KEY (track_id),
	CONSTRAINT track_album_id_fkey FOREIGN KEY(album_id) REFERENCES album (album_id),
	CONSTRAINT track_genre_id_fkey FOREIGN KEY(genre_id) REFERENCES genre (genre_id),
	CONSTRAINT track_media_type_id_fkey FOREIGN KEY(media_type_id) REFERENCES media_type (media_type_id)
)

/*
3 rows from track table:
track_id	name	album_id	media_type_id	genre_id	composer	milliseconds	bytes	unit_price
1	For Those About To Rock (We Salute You)	1	1	1	Angus Young, Malcolm Young, Brian Johnson	343719	11170334	0.99
2	Balls to the Wall	2	2	1	U. Dirkschneider, W. Hoffmann, H. Frank, P. Baltes, S. Kaufmann, G. Hoffmann	342562	5510424	0.99
3	Fast As a Shark	3	2	1	F. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman	230619	3990994	0.99
*/
['album', 'artist', 'customer', 'employee', 'genre', 'invoice', 'invoice_line', 'media_type', 'playlist', 'playlist_track', 'track']

"[(1, 'AC/DC'), (2, 'Accept'), (3, 'Aerosmith'), (4, 'Alanis Morissette'), (5, 'Alice In Chains'), (6, 'Antônio Carlos Jobim'), (7, 'Apocalyptica'), (8, 'Audioslave'), (9, 'BackBeat'), (10, 'Billy Cobham')]"

In [25]:
from langchain_core.prompts import ChatPromptTemplate

system_message = """
Given an input question, create a syntactically correct {dialect} query to
run to help find the answer. Unless the user specifies in his question a
specific number of examples they wish to obtain, always limit your query to
at most {top_k} results. You can order the results by a relevant column to
return the most interesting examples in the database.

Never query for all the columns from a specific table, only ask for a the
few relevant columns given the question.

Pay attention to use only the column names that you can see in the schema
description. Be careful to not query for columns that do not exist. Also,
pay attention to which column is in which table.

Only use the following tables:
{table_info}
"""

user_prompt = "Question: {input}"

query_prompt_template = ChatPromptTemplate(
    [
        ('system', system_message),
        ('user', user_prompt),
    ]
)

for msg in query_prompt_template.messages:
    msg.pretty_print()

================================ System Message ================================


Given an input question, create a syntactically correct {dialect} query to
run to help find the answer. Unless the user specifies in his question a
specific number of examples they wish to obtain, always limit your query to
at most {top_k} results. You can order the results by a relevant column to
return the most interesting examples in the database.

Never query for all the columns from a specific table, only ask for a the
few relevant columns given the question.

Pay attention to use only the column names that you can see in the schema
description. Be careful to not query for columns that do not exist. Also,
pay attention to which column is in which table.

Only use the following tables:
{table_info}

================================ Human Message =================================

Question: {input}

In [ ]:
from langgraph.graph import MessagesState

class State(MessagesState):
    question: str
    sql: str
    result: str
    answer: str

In [38]:
from typing_extensions import Annotated, TypedDict

class QueryOutput(TypedDict):
    """Generate SQL query"""
    query: Annotated[str, ..., '문법적으로 올바른 SQL 쿼리']


# SQL 생성 Node
def write_sql(state: State):
    """Generate SQL query to fetch info"""
    prompt = query_prompt_template.invoke({
        "dialect": db.dialect,
        "top_k": 10,
        "table_info": db.get_table_info(),
        "input": state["question"],
    })
    structured_llm = llm.with_structured_output(QueryOutput)
    result = structured_llm.invoke(prompt)
    return {'sql': result["query"]}


sql = write_sql({"question": "직원은 몇명이야?"})['sql']
print(sql)
db.run(sql)

SELECT COUNT(*) AS employee_count FROM employee;

'[(8,)]'